
body {
  font-family: Georgia, "Times New Roman",
        Times, serif;

  background-color:#F2F2F2; 

}


img{
  width:100%;
  height:100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: -1;
}

.loginbuttons{

}

p{
  color:black;
}

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  font-style:italic; 
  background-color:#880000;
  text-align:center;
}

h2 {

text-align:center;
color: black;


}
form { 
    position:relative;
    top:35%; 
    left:35%; 
}

li{
    
    
}

input{
  font-weight:bold;
  font-style:italic;
  color:black;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  border: 2px solid;
  
}

button{
  font-weight:bold;
  color:black;
  background: -webkit-linear-gradient(top, white, grey);
  box-shadow: 5px 5px 5px #888888;
  border: 2px solid;
  
  
}

h3 {
 text-align: center; 

}


select{
  font-weight:bold;
  font-style:italic;
  color:black;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
  border: 2px solid;
  
}

table{
	padding: 10px
	border-collapse: collapse;
}

#employerlogin   {
background: -webkit-linear-gradient(top, white, grey);
margin:auto;
position:relative;
left: -20px;
width:450px;
height:250px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#register    {
background: -webkit-linear-gradient(top, white, grey);
margin:auto;
position:relative;
left: -20px;
width:450px;
height:40px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

#empform {
background: -webkit-linear-gradient(top, white, grey);
margin:auto;
position:relative;
left: -20px;
width:450px;
height:800px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input    {
margin-left: 15px;
float:center;
display:block;
width:120px;
border: 1px solid #999;
height: 20px;
text-align:center;
}

#einput {
width: 200px;

}


#subregis {
margin-top: 10px;

}

tr {
 background-color: silver;
 align-text: center
 color: black;

}

#postingsDiv {
margin-left: 400px;

}
    .container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }



#searchbar {

background: -webkit-linear-gradient(top, white, grey);
margin:auto;
margin-right: 900px;
position:relative;
left: -20px;
width:200px;
height:600px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

}

#searchjp {
text-align: center;
height: 20px;
margin-left: 80px;


}

#searchjpc {
text-align: center;
height: 20px;
margin-left: 80px;
border: 0px solid #999;
width: 50px;


}


#mainbar {
float: left;

}

#main {
height: 80px;
width: 200px;
float:center;
text-align: center;
}

#prof {
background: -webkit-linear-gradient(top, white, grey);
margin:auto;
margin-left: 330px;
position:relative;
left: -20px;
width:900px;
height:700px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
}

#tid {
margin-left: 300px;
float: top;
float: center;
float: left;
}



