body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  
  background-image:url('paper.gif');
  background-color: #cccccc}

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }

form { 
    position:relative;
    top:35%; 
    left:35%; }

li{
    display: inline;
}